:root{
    --facebook: #3b5999;
    --github: #545454;
    --telegram: #60b0f4;
    --email: #ffd900;
    --linkedin: #0077b5;
    --celeste: #60b0f4;
    --azul: #388ad1;
    --grisClaro: #b4b4b4;
    --grisObscuro: #545454;
    --degradadoObscuro: rgba(5,7,12,0.75);
}
/*
celeste: #60b0f4 , rgb(96, 176, 244);
azul: #388ad1, rgb(56, 138, 209);
grisClaro: #b4b4b4, rgb(180, 180, 180);
grisObscuro: #545454, rgb(84, 84, 84);
box-shadow: 0px 0px 30px #660033;
*/

.colorines{
    background: rgba(96, 176, 244, 0.3) !important;
}
.colorines2{
    background: rgba(56, 138, 209,0.5) !important;
}
.colorines3{
    background: rgba(180, 180, 180,0.5) !important;
}
.colorines4{
    background: rgba(84, 84, 84,0.5) !important;
}

.colorines5{
    background: rgba(5,7,12,0.75) !important;
}

.textoJustificado {
    text-align: justify;
}

.bordeAzul {
    border: 3px solid #0d6efd;
}

section, footer {
    height: auto !important;
}

.colorBotoneraPrincipal {
    background: rgb(84, 84, 84);
}

#inicio {
    height: 93vh !important;
    background: linear-gradient(-45deg, rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url(../../assets/img/fondo.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

#cuerpoInicio {
    height: 80vh !important;
}

h1{
    background: linear-gradient(rgb(96, 176, 244), rgba(5,7,12,0.75));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px rgb(108, 117, 125);
}
ul{
    text-align: center;
}

.redesSociales ul {
    padding: 0px;
}

.redesSociales ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    position: sticky;
}

.redesSociales ul li a {
    display: block;
    padding: 0 10px;
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 50%;
}

.redesSociales ul:hover a{
    filter: blur(2px);
}

.redesSociales ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
}

.redesSociales ul li .facebook{
    background: var(--facebook);
}

.redesSociales ul li .github{
    background: var(--github);
    color: #ffffff;
}

.redesSociales ul li .linkedin{
    background: var(--linkedin);
}

.redesSociales ul li .telegram{
    background: var(--telegram);
}

.redesSociales ul li .email{
    background: var(--email);
}

.redesSociales ul li .facebook:hover{
    background: var(--facebook);
}

.redesSociales ul li .github:hover{
    background: var(--github);
    color: #ffffff;
}

.redesSociales ul li .linkedin:hover{
    background: var(--linkedin);
}

.redesSociales ul li .telegram:hover{
    background: var(--telegram);
}

.redesSociales ul li .email:hover:hover{
    background: var(--email);
}

h2 {
    background: linear-gradient(45deg, rgb(108, 117, 125) 50%, rgb(56, 138, 209) 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-size: 60px !important;
    text-transform: uppercase;
}

.tecnologias ul li {
    display: inline-block;
    margin: 0 5px;
    width: 150px;
    height: 50px;
    text-align: center;
    position: sticky;
}


.tecnologias ul li a {
    display: block;
    padding: 0 10px;
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-decoration: none;
}

.tecnologias ul:hover a{
    filter: blur(2px);
}

.tecnologias ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
}

.tituloDeSeccion {
    background: linear-gradient( 45deg, rgb(56, 138, 209) 50%, rgb(108, 117, 125) 50%) ;
}

.separadorDeSeccion {
    background: linear-gradient( 45deg, rgb(108, 117, 125) 50%, rgb(84, 84, 84) 50%);
}

@media all and (max-width: 749px){
    #imagenLogo{
        width: 26vh;
    }
    
    h1{
        font-size: 38px !important;
    }

    .tecnologias ul li {
        height: 160px;
    }
    .tecnologias ul {
        margin-left: -2rem;
    }
    .tecnologias ul:hover a{
        filter: none;
        -webkit-filter: none;
    }
    h2 {
        font-size: 30px !important;
    }
}

@media all and (min-width: 750px) and (max-width: 1023px){
    h1{
        font-size: 80px !important;
    }
}

@media all and (min-width: 1024px) {
    h1{
        font-size: 100px !important;
    }
}